main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 100px; // To account for the fixed header
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5); // Changed to a semi-transparent black
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 30px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-height: 70px;
    width: auto;
    object-fit: contain;
}
.LoginRegistorSpot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.3s ease;
    font-family: "Open Sans", sans-serif;
}

.button:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

Link {
    text-decoration: none;
    color: #000000;
}
